VERIFICATIONS DATA CLEANING

<p>The purpose of this analysis is to clean this dataset before loading into MYSQL for analysis</p>

1) Import Libraries

In [1]:
# import pandas
import pandas as pd

2. Load Dataset

In [2]:
# load verifications sheet into pandas dataframe, set low_memory=False to avoid datatype guessing errors for large files
df = pd.read_csv(r'C:\Users\pc\OneDrive\Documents\Projects\Verification project\verification_data.csv', low_memory=False)
df

,id,session_id,app_id,selfie_url,id_url,status,confidence,id_type,mode,datetime,...,selfie_to_human_review,reason_for_human_review_selfie,reason_for_human_review_id,duplicate_check,flow_id,check_background,verification_id,business_id,customer_id,service_provider_down
0,49023,63b0cecd5228f0003e6c2ee8,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:07:42,...,0,NaN,NaN,NaN,NaN,0,3a1e55e9-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
1,49024,63b0ceea5228f0003e6c2eed,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:08:11,...,0,NaN,NaN,NaN,NaN,0,3a1e56d2-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
2,49025,63b0cfd815b4cd003e7054b8,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:12:09,...,0,NaN,NaN,NaN,NaN,0,3a1e57bf-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
3,49026,63b0d00315b4cd003e7054e5,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:12:52,...,0,NaN,NaN,NaN,NaN,0,3a1e58aa-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
4,49027,63b0d0c715b4cd003e70556d,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:16:08,...,0,NaN,NaN,NaN,NaN,0,3a1e5995-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876890,925938,67cb0e096ce8c80049c345cc,6451e185c9f31e0034f0196b,NaN,NaN,STARTED,0.0,NaN,NaN,2025-03-07 15:17:30,...,0,NaN,NaN,NaN,6786200c16c040c1249916cc,0,de78de5b-8fc6-428a-a644-c6ec86f70701,NaN,NaN,0
876891,925939,67cb0e0e6ce8c80049c345ea,64adcf344d3321004041b8ee,https://images.dojah.io/image_67cb0e0e6ce8c800...,NaN,Ongoing,0.0,BVN,NaN,2025-03-07 15:17:34,...,0,NaN,NaN,NaN,6682ba9e40de4200408a19d3,0,8636f1c9-203d-4d34-8143-edb09c4fccaf,NaN,31b9fd5d-6a59-4093-9da1-c52598d68842,0
876892,925940,67cb0e0f6ce8c80049c345f4,6721427bbc05be86432f6880,NaN,NaN,Ongoing,0.0,NIN,OTP,2025-03-07 15:17:35,...,0,NaN,NaN,NaN,6731d5a543a244e3057b4aed,0,4a1e81f3-33b6-495e-a14c-393758a2acdc,NaN,63e7b31e-b363-4d0a-ae8e-8c176b260b7a,0
876893,925941,67cb0e1abc17140047bc256a,656df61b2cc571004071add6,NaN,NaN,STARTED,0.0,NaN,NaN,2025-03-07 15:17:47,...,0,NaN,NaN,NaN,657202cd2d489d004177d2a8,0,32a720a9-25f4-4381-8e4d-70f450de0e4c,NaN,NaN,0
876894,925942,67cb0e226ce8c80049c3465a,63f880ce5ce8e90035583914,NaN,NaN,Ongoing,0.0,NaN,NaN,2025-03-07 15:17:54,...,0,NaN,NaN,1.0,663b83c7df2a4c003f3d5f17,0,0376a7f4-8242-46bf-93d9-d9d6ccc9c432,NaN,NaN,0

3. Preview the Dataset

In [3]:
# show the first five rows of data to understand the structure
df.head()

,id,session_id,app_id,selfie_url,id_url,status,confidence,id_type,mode,datetime,...,selfie_to_human_review,reason_for_human_review_selfie,reason_for_human_review_id,duplicate_check,flow_id,check_background,verification_id,business_id,customer_id,service_provider_down
0,49023,63b0cecd5228f0003e6c2ee8,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:07:42,...,0,NaN,NaN,NaN,NaN,0,3a1e55e9-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
1,49024,63b0ceea5228f0003e6c2eed,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:08:11,...,0,NaN,NaN,NaN,NaN,0,3a1e56d2-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
2,49025,63b0cfd815b4cd003e7054b8,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:12:09,...,0,NaN,NaN,NaN,NaN,0,3a1e57bf-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
3,49026,63b0d00315b4cd003e7054e5,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:12:52,...,0,NaN,NaN,NaN,NaN,0,3a1e58aa-4378-11ef-8242-6045bda95ea0,NaN,NaN,0
4,49027,63b0d0c715b4cd003e70556d,62e371a6418e8b00341b466a,NaN,NaN,STARTED,0.0,NaN,NaN,2023-01-01 00:16:08,...,0,NaN,NaN,NaN,NaN,0,3a1e5995-4378-11ef-8242-6045bda95ea0,NaN,NaN,0

4. Check Dataset information

In [4]:
# display the dataframe info and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876895 entries, 0 to 876894
Data columns (total 44 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              876895 non-null  int64
 1   session_id                      876895 non-null  object
 2   app_id                          876895 non-null  object
 3   selfie_url                      289262 non-null  object
 4   id_url                          63558 non-null   object
 5   status                          876895 non-null  object
 6   confidence                      876895 non-null  float64
 7   id_type                         434859 non-null  object
 8   mode                            362990 non-null  object
 9   datetime                        876895 non-null  object
 10  meta                            0 non-null       float64
 11  aml_reference                   58500 non-null   object
 12  approval_status                 0 non-null       float64
 13  review_comment                  513987 non-null  object
 14  review_date                     46474 non-null   object
 15  id_number                       366085 non-null  object
 16  review_process                  876895 non-null  object
 17  reference_id                    876895 non-null  object
 18  environment                     876895 non-null  object
 19  steps_completed                 876895 non-null  int64
 20  country                         479982 non-null  object
 21  r_action                        416568 non-null  object
 22  back_url                        22043 non-null   object
 23  address_exists                  28673 non-null   float64
 24  address                         11300 non-null   object
 25  ucode                           837213 non-null  object
 26  latitude                        0 non-null       float64
 27  longitude                       0 non-null       float64
 28  reviewed_by                     46303 non-null   object
 29  reviewer                        46470 non-null   object
 30  review_status                   85623 non-null   float64
 31  failed_id_capture               38186 non-null   object
 32  direct_feedback                 339046 non-null  float64
 33  email                           458593 non-null  object
 34  selfie_to_human_review          876895 non-null  int64
 35  reason_for_human_review_selfie  17404 non-null   object
 36  reason_for_human_review_id      26141 non-null   object
 37  duplicate_check                 158765 non-null  float64
 38  flow_id                         465260 non-null  object
 39  check_background                876895 non-null  int64
 40  verification_id                 876895 non-null  object
 41  business_id                     0 non-null       float64
 42  customer_id                     129782 non-null  object
 43  service_provider_down           876895 non-null  int64
dtypes: float64(10), int64(5), object(29)
memory usage: 294.4+ MB

5. Convert columns to their right data types

In [5]:

#---1 convert date_time and review_date to datetime columns
df['datetime'] = pd.to_datetime(df['datetime']).dt.strftime('%Y-%m-%d %H:%M:%S')
df['review_date'] = pd.to_datetime(df['review_date']).dt.strftime('%Y-%m-%d %H:%M:%S')


#---2 convert review_status, direct_feedback and duplicate_check to Int64
df['review_status'] = df['review_status'].astype('Int64')
df['direct_feedback'] = df['direct_feedback'].astype('Int64')
df['duplicate_check'] = df['duplicate_check'].astype('Int64')
df['address_exists'] = df['address_exists'].astype('Int64')


df.dtypes

id                                  int64
session_id                         object
app_id                             object
selfie_url                         object
id_url                             object
status                             object
confidence                        float64
id_type                            object
mode                               object
datetime                           object
meta                              float64
aml_reference                      object
approval_status                   float64
review_comment                     object
review_date                        object
id_number                          object
review_process                     object
reference_id                       object
environment                        object
steps_completed                     int64
country                            object
r_action                           object
back_url                           object
address_exists                      Int64
address                            object
ucode                              object
latitude                          float64
longitude                         float64
reviewed_by                        object
reviewer                           object
review_status                       Int64
failed_id_capture                  object
direct_feedback                     Int64
email                              object
selfie_to_human_review              int64
reason_for_human_review_selfie     object
reason_for_human_review_id         object
duplicate_check                     Int64
flow_id                            object
check_background                    int64
verification_id                    object
business_id                       float64
customer_id                        object
service_provider_down               int64
dtype: object

6. Check Missing Values

In [6]:
#shows how many missing values exist in each columns
df.isnull().sum()

id                                     0
session_id                             0
app_id                                 0
selfie_url                        587633
id_url                            813337
status                                 0
confidence                             0
id_type                           442036
mode                              513905
datetime                               0
meta                              876895
aml_reference                     818395
approval_status                   876895
review_comment                    362908
review_date                       830421
id_number                         510810
review_process                         0
reference_id                           0
environment                            0
steps_completed                        0
country                           396913
r_action                          460327
back_url                          854852
address_exists                    848222
address                           865595
ucode                              39682
latitude                          876895
longitude                         876895
reviewed_by                       830592
reviewer                          830425
review_status                     791272
failed_id_capture                 838709
direct_feedback                   537849
email                             418302
selfie_to_human_review                 0
reason_for_human_review_selfie    859491
reason_for_human_review_id        850754
duplicate_check                   718130
flow_id                           411635
check_background                       0
verification_id                        0
business_id                       876895
customer_id                       747113
service_provider_down                  0
dtype: int64

7. Standardize Values

In [7]:
# convert all options in status to proper format for consistency
df['status'] = df['status'].str.title() #completed -> Completed
df['status'].unique() #checks for distinct values in the status column.

array(['Started', 'Completed', 'Abandoned', 'Failed', 'Successful',
       'Pending', 'Ongoing', 'Archived'], dtype=object)

In [ ]:
# convert all id_types to a standardized format 
df['id_type'] = df['id_type'].str.upper()
df['id_type'].unique()

8. Remove Whitespaces

In [9]:
# strip leading and white spaces from all text columns

df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

9. Handle Missing Data

In [10]:
# handle missing data based on the nature of each column
df.fillna({
    'selfie_url': 'No selfie',
    'id_url': 'No id url',
    'mode': 'none',
    'id_type' : 'none',
    'aml_reference': 'none',
    'review_comment': 'none',
    'id_number': 'none',
    'country': 'unknown',
    'r_action': 'none',
    'back_url': 'none',
    'address': 'unknown',
    'review_status': -1,
    'ucode': 'none',
    'reviewed_by': 'none',
    'reviewer': 'none',
    'failed_id_capture': 'not available',
    'email': 'none',
    'reason_for_human_review_id': 'none',
    'reason_for_human_review_selfie': 'none',
    'duplicate_check': 0,
    'address_exists':0,
    'direct_feedback': 0,
    'flow_id': 'none',
    'customer_id': 'none'
}, inplace=True)

Inspect the Country column

In [13]:
#inspect the country column for dirty entries
print(' the number of distinct entries in the country column is :',len(df.country.unique()))
print(df.country.unique()) # result shows this list of all distinct countries in the column. 
# From this inspection it shows how messy the column is.

 the number of distinct entries in the country column is : 376
['unknown' 'Nigeria' 'United Kingdom' 'Angola' 'Kenya' 'China' 'Uganda'
 'United States' 'India' 'Cameroon' 'Albania' 'Åland Islands' 'Nigeriay'
 'United Arab Emirates' 'Norway' 'Nig' 'Netherlands' 'Algeria'
 'Cook Islands' 'Nigerian' 'Ghana' 'Zimbabwe' 'Pakistan' 'Guinea' 'Egypt'
 'Botswana' 'Benin' 'Germany' 'USA' 'Canada' 'South Africa' 'Afghanistan'
 'Ireland' 'Spain' 'NIGERIA' 'Anguilla' 'Turkey' 'Naigeria' 'Nigeria6'
 'Nigeria you' 'Brazil' 'Bangladesh' 'Azerbaijan' 'Switzerland'
 'Nigeria Nigeria' 'Poland' 'Nigeria1' 'Philippines'
 'Democratic Republic Of Congo' 'Rwanda' 'American Samoa' 'Niger' 'Mouse'
 'Australia' 'Chile' 'Finland' 'Clipperton Island' 'Nigeria mnoko?!9'
 'Nigeriau' 'Italy' 'Viet Nam' 'London' 'Tanzania, United Republic Of'
 'Belgium' 'nig' 'Nigeri' 'Gambia' 'Libya' 'Portugal' 'Ukraine' 'Israel'
 'Nigeria Aba state' 'Nigeria7' 'Cyprus' 'Illum assumenda qua' 'France'
 'Yemen' 'Senegal' 'Nigey' 'French Polynesia' 'Zambia'
 'dammyayans560@gmail.com' 'Nigeriani' '?? Nigeria'
 'U.S. Miscellaneous Pacific Islands' 'Thailand' 'Niagara' 'Japan'
 'nigeria' 'Cuba' 'Singapore' 'Malawi' 'Lebanon' 'Virginia'
 'Voluptatum ipsa con' 'Myanmar' 'NNiigeria' 'Malaysia' 'Saudi Arabia'
 'United StatesNi' 'ONDO state' 'Austria' 'Romania' 'Burkina Faso'
 'Nigeriaĺ' 'Agrigento' 'Indonesia' 'Nicaragua' 'Usa' 'Oman'
 'Nigeria08103821801' 'Ethiopia' 'Nigerani' 'Sweden' 'Dominican Republic'
 'Dominica' 'Hong Kong' 'Haiti' 'Togo' 'Latvia' 'Argentina' 'African'
 'United l' 'France if' 'United nigKingdom' 'Antigua And Barbuda'
 'Mozambique' 'Edo' 'Nigeriai' 'U' 'nigerian' 'Morocco' 'Germany ko'
 "Côte d'Ivoire" 'Ghanaian' 'Venezuela, Bolivarian Republic Of'
 'Libya Nigeria' 'Turkmenistan' 'Slovenia' 'N8igeria' 'Ninn'
 'Sierra Leone' 'Jamaica' 'Mali' 'Nigerians' 'Nlgeria'
 'Russian Federation' 'Uni' 'Colombia' 'Niher' 'South Sudan' 'Jersey'
 'United Statesnigwroa' 'Lithuania' 'Nigeriah' 'Nsukka' 'Nigeria my'
 'Guyana' 'United StatesNig' 'Hungary' 'Qatar' 'Byelorussian SSR' 'ken'
 'Cambodia' 'Iran, Islamic Republic Of' 'Georgia' 'Niue'
 'Falkland Islands' 'Iraq' 'Antarctica' 'NigeriaI' 'Mauritius' 'Mexico'
 'Mexico city Mexico' 'Nights' 'Andorra' 'United Statesnigerian'
 'Nigeria is' 'Virgin Islands (US)' 'Bahrain' 'Liberia' 'Kuwait'
 'New Zealand' 'Owe' 'Nigeria8' 'United States Minor Outlying Islands'
 'Nigeriap' 'Nigeria Kano State' 'Central African Republic' 'Mongolia'
 'Nigerial' 'Papua New Guinea' 'New Nigeria' 'Niigeria' 'Nijjggggg'
 'Nigeria.' 'Enugu State' 'Somalia' 'Nigeria+' '??' 'SouthAfrica' 'N'
 'Armenia' 'Estonia' 'Kazakhstan' 'kenya' 'British Antarctic Territory'
 'Lesotho' 'Jordan' 'Sudan' 'Nigera' 'El Salvador' 'Tunisia' 'Nigeria?'
 'Nj' 'Greece' 'Moldova' 'Nigeria+234' 'Texas'
 'abigailmaisamari9@gmail.com' 'Czech Republic' 'Comoros' 'Nepal'
 'NigeriaRSTS380' 'Nigèria' 'Bahamas' 'Nigeriao' 'Bhutan' 'Nigeriaq'
 'Slovakia' 'Taiwan' 'Nigerie' 'British' 'Nigeriaxd' 'Nigeria to'
 'I’m Nigeria' 'Niageria' 'P' 'Uzbekistan' 'United Kingdomnigeria' 'Nigen'
 'NigeriaCa' 'Trinidad And Tobago' 'Nigeria see' 'Ecuador' 'United King'
 'United States Of America' 'United state' 'china' 'TANZANIA' 'Tanzania'
 'U S A' 'United Kingdo' 'Unite' 'Nigerian b' 'Belize' 'Yobe' 'Burundi'
 'Negiria' 'Deutchland' 'Atlanta Georgia' 'Nigeria ??' 'Keny'
 'Syrian Arab Republic' 'English' 'Denmark' 'davidadokuru@outlook.com'
 'Nigerianig' 'Nigeria Benin' 'I’m Ghana' 'GERMANY' 'Nigeriae' 'ⁿⁱᵍᵉʳⁱᵃ'
 'Atlanta' 'daniel@spenda.africa' 'United Kingdom u' 'Cam' 'Ni'
 'Seychelles' 'Ghanaiii' 'Croatia' 'Alaska' 'Cabo Verde'
 'United States of America' 'Namibia' 'Nignieria' 'Nigeira' 'Delta'
 'Aruba' 'Republic Of Congo' 'Nigeriais' 'Malta' 'Eritrea' 'Nigeia'
 'koning369@gmail.com' 'hi@squareme.app' 'Chad' 'Nigeris'
 'NigeriaNigerian' 'google@test.com' 'United Nigeria' 'Ugandan'
 'Nigeria w' 'Naigiria' 'Cross river state'
 'Bonaire, Saint Eustatius And Saba' 'I' 'Negira' 'Nigeria zamfara sete'
 'Korea, Republic Of' 'Nigy' 'Nairger' 'Florida' 'Unit States'
 'Lagos state' 'Nagria' 'Ull' 'Ghana we' 'ghana' 'Nigeria22397367737'
 'Nigéria' 'Bénin' 'Nigrai' 'NiNi' 'Nigery' 'B' 'Benin 56226630'
 'demo@haba.insure' 'Philippine' 'Costa Rica' 'United states' 'G'
 'Luxembourg' '59847060114' 'Nigeria Nigeria Nigeria'
 '..,.,I..k v f,or ia. Mk.' 'Serbia' 'Bulgaria' 'Nageria' 'ایران' 'NGN'
 'Nigeria08168407007' 'Saudi Arab' 'Ogun' 'Lagos' 'United Statesi'
 "Nigeria'" 'Bermuda' 'omegauwedia@gmail.com' 'سوريا' 'Western Sahara'
 'Niga' 'NIGERIAN' 'NigeriaGabriel2003' 'Zambian' 'YNigeria' 'Peru'
 'Niɠeria' 'Un' 'Abuja' 'Nederlands' 'Swaziland' 'Ghanan' 'Italian'
 'Nederland' 'Ghan' 'Amer' 'Montserrat' "Côte d'ivoire" 'NigeriaO'
 'Negrian' 'NiUnited States' 'Guinea-bissau' 'Nigeria34065338398' 'Nige'
 'Gabon']

11. Fuzzy Cleaning With Python - Import Geolocation + Fuzzy Matching Tools

In [14]:
import pycountry
from fuzzywuzzy import process
from geopy.geocoders import Nominatim
import pandas as pd
import time

#imported tools needed to clean country names automatically

12. Setup Tools

In [15]:
#set up geopy and country_list

geolocator = Nominatim(user_agent="geo_cleaner")
valid_countries = [country.name for country in pycountry.countries] #built in list of valid countries from pycountry

13. Define Country Cleaning Function

In [16]:
#define fuzzy cleaning function

def clean_country(value):
    value  = str(value).strip()

    if pd.isna(value) or '@' in str(value) or str(value).isdigit() or len(str(value).strip()) < 3:
        return 'unknown'
    
    #fuzzy match
    best_match, score = process.extractOne(str(value), valid_countries)
    if score >=80:
        return best_match
    
    #Geopy fallback
    try:
        location = geolocator.geocode(value, language='en', addressdetails=True, timeout=10)
        if location and 'country' in location.raw['address']:
            return location.raw['address']['country']
    except:
        pass

    return 'unknown'

14. Apply Cleaning Function

In [17]:
#apply function to the dataframe

#step 1: get unique values
unique_values = df['country'].unique()

#step 2: Build Mapping only once
mapping = {}

for val in unique_values:
    cleaned = clean_country(val)
    mapping[val] = cleaned
    time.sleep(1) # respect geopy's rate limit (1 request per second)



#step3: apply mapping (very fast method)
df['clean_country'] = df['country'].map(mapping) # we create a new column

Check the number of ubique values in cleaned_country column

In [ ]:
df['clean_country'].nunique() #shows the number of unique country values after cleaning

174

Review and validate new country column

In [42]:
import pandas as pd

# Set max rows to display (use None to show all)
pd.set_option('display.max_rows', None)

# Now this will show all rows
print(df['clean_country'].value_counts())

# Optional: reset back to default after
pd.reset_option('display.max_rows')

clean_country
Nigeria                                  465701
unknown                                  396965
Ghana                                      4606
United States                              2664
United Kingdom                             1396
Kenya                                       774
Canada                                      366
Cameroon                                    314
India                                       243
Pakistan                                    206
United Arab Emirates                        190
Egypt                                       184
Albania                                     162
Benin                                       157
Åland Islands                               144
Bangladesh                                  143
Germany                                     120
South Africa                                117
Rwanda                                      112
Afghanistan                                 105
Italy                                        90
France                                       87
China                                        87
Algeria                                      84
Niger                                        82
Angola                                       79
Australia                                    77
Philippines                                  77
Uganda                                       73
Saudi Arabia                                 73
Togo                                         60
Côte d'Ivoire                                58
Spain                                        55
Libya                                        48
Brazil                                       45
Ethiopia                                     44
Finland                                      39
Zambia                                       34
Ukraine                                      34
Gambia                                       34
Iraq                                         32
Indonesia                                    29
Morocco                                      29
Netherlands                                  28
Portugal                                     24
Cyprus                                       24
Turkey                                       23
Poland                                       23
American Samoa                               22
Ireland                                      21
Chile                                        21
Belgium                                      21
Mexico                                       19
Hong Kong                                    19
Zimbabwe                                     17
Malaysia                                     16
Senegal                                      16
Latvia                                       15
Nepal                                        15
Malawi                                       14
Japan                                        14
Sierra Leone                                 13
Mali                                         13
Qatar                                        13
Yemen                                        13
Russian Federation                           13
Myanmar                                      13
Congo, The Democratic Republic of the        13
Burkina Faso                                 12
Tanzania, United Republic of                 12
Austria                                      11
Switzerland                                  11
Serbia                                       10
Jamaica                                      10
Guinea                                        9
Sweden                                        9
Georgia                                       9
Liberia                                       9
Mauritius                                     9
Cambodia                                      9
Romania                                       9
Lebanon                                       9
Botswana                                      8
Somalia                                       8
Taiwan, Province of China                     8
Viet Nam                                      8
Singapore                                     8
Thailand                                      8
Syrian Arab Republic                          8
Argentina                                     7
Central African Republic                      7
Estonia                                       7
Bulgaria                                      7
Bahrain                                       7
Sudan                                         7
Lithuania                                     7
Azerbaijan                                    6
Iran, Islamic Republic of                     6
Israel                                        6
Antarctica                                    6
Slovakia                                      5
Mongolia                                      5
Hungary                                       5
Slovenia                                      5
United States Minor Outlying Islands          5
Oman                                          5
Haiti                                         5
Korea, Republic of                            4
Seychelles                                    4
Jordan                                        4
Bolivia, Plurinational State of               4
Colombia                                      4
Malta                                         4
Venezuela, Bolivarian Republic of             4
Burundi                                       3
Anguilla                                      3
Papua New Guinea                              3
Ecuador                                       3
Belize                                        3
Greece                                        3
Dominican Republic                            3
Cuba                                          3
South Sudan                                   3
Tunisia                                       3
Moldova, Republic of                          3
Kuwait                                        3
Bonaire, Sint Eustatius and Saba              3
Croatia                                       3
Kazakhstan                                    3
Chad                                          2
Norway                                        2
Guinea-Bissau                                 2
Peru                                          2
Andorra                                       2
Falkland Islands (Malvinas)                   2
Nicaragua                                     2
Luxembourg                                    2
Aruba                                         2
Namibia                                       2
New Zealand                                   2
Armenia                                       2
Eswatini                                      2
Lao People's Democratic Republic              2
Cook Islands                                  1
Guyana                                        1
Niue                                          1
Mozambique                                    1
Antigua and Barbuda                           1
Turkmenistan                                  1
French Polynesia                              1
Heard Island and McDonald Islands             1
Jersey                                        1
Dominica                                      1
North Macedonia                               1
El Salvador                                   1
Lesotho                                       1
Bahamas                                       1
British Indian Ocean Territory                1
Bhutan                                        1
Comoros                                       1
Congo                                         1
Uzbekistan                                    1
Trinidad and Tobago                           1
Cabo Verde                                    1
Denmark                                       1
Eritrea                                       1
Costa Rica                                    1
Iran                                          1
Bermuda                                       1
Western Sahara                                1
Syria                                         1
Montserrat                                    1
Gabon                                         1
Name: count, dtype: int64

15. Manually correct specific country issues

In [21]:
# after inspection, we observed that some states in the united states of america from dirty 'country' column were recorded as india in the clean_country column
# update such columns to their right values
df.loc[df['country'].isin(['Virginia', 'Virgin Islands (US)']), 'clean_country'] = 'United States'

In [22]:
#update nigerian values
df.loc[df['country'].isin(['Nigerian b','Nigeria see','Nigen','NigeriaCa',' I"m Nigeria', 'Nigeria to','Nigeriaxd','NigeriaRSTS380','Nigeria+234',
                           'Nj','Nijjggggg','New Nigeria', 'Nigeria Kano State', 'United Statesnigerian','Nigerians',
                           'Nigerani','ONDO state','Nigeria Aba state','Nigey','nig', 'Nigeria mnoko?!9', 'Nigeria Nigeria',
                           'Nigeria you','Nig']), 'clean_country'] ='Nigeria'

In [23]:
#update values to unknown
df.loc[df['country'].isin(['Mouse','unknown']), 'clean_country'] = 'unknown'

16. Drop Unnecessary Columns to make the dataset smaller

In [ ]:
#remove the columns that are not required
df.drop(columns=['business_id','longitude','latitude','approval_status','meta','id'], inplace=True)

17. Convert Boolean columns

In [ ]:
bool_columns = ['service_provider_down', 'check_background','duplicate_check','selfie_to_human_review','address_exists', 'direct_feedback']
df[bool_columns] = df[bool_columns].astype(bool)

18. Check for Duplicates

In [ ]:
df.duplicated().sum() # no duplicates recorded

19.Replace Dirty Country Column

In [ ]:
df = df.drop(columns=['country']) # drop column country as it contains the list of dirty country list

In [ ]:
df = df.rename(columns={'clean_country':'country'}) #rename clean_country column

In [ ]:
df.columns # check the column list

20. Save Cleaned Data and Export to CSV

In [ ]:
df.to_csv('verification_cleaned.csv', index=False)

21. Connect to MySql

In [ ]:
import pymysql

try:
    connection = pymysql.connect(
        host='localhost',
        port=3306,
        user='root',
        password='password',
        database='verifications_project',
        connect_timeout=10
    )
    print('Connected to mySQL server successfully')

except pymysql.MySQLError as e:
    print('Error connecting to MySql:', e)

In [ ]:
#format of connection string is
# mysql+pymysql;//username:password@host:port/database_name

import sqlalchemy

engine= sqlalchemy.create_engine('mysql+pymysql://root:password@localhost:3306/verifications_project', execution_options = {"fast_executemany":True})

22. Insert in Chunks

<p>When importing a large DataFrame into a MySQL Server, you want to optimize both the efficiency and speed of the import process. We will attempt to chunk the data instead of trying to insert all 3 million rows at once, we can break the DataFrame into smaller chunks and insert them sequentially. This reduces memory overhead and can improve performance.</p>

In [ ]:
from sqlalchemy.exc import SQLAlchemyError

#define chunk size
chunk_size = 10000

#using a try and except block, iterate over chunks and insert data


for i in range(0, len(df), chunk_size):
    chunk = df.iloc[i: i+ chunk_size]

    try:
        with engine.begin() as connection:  # create a new DB connection with auto-rollback on failure
            chunk.to_sql(
                name='verifications', #database table name
                con=engine,
                if_exists='append',
                index=False,
                method='multi',
                chunksize=chunk_size
            )
        print(f'chunk {i} inserted successfully')

    except SQLAlchemyError as e:
        print(f" Error inserting chunk starting at row {i}: {e}")